<h2>Welcome {{this.user}}</h2>

<form>
    <label for="new-habit">New Habit:</label>
    <input type="text" id="new-habit" name="new-habit"><br>
    <input type="submit" id="submitBtn" value="Submit">
</form>

<ul>
    {{#each Habit}}
    <li>
        <p>Type: {{this.name}}</p>
        <p>Habit: {{this.id}}</p>
        <p>Display: {{this.displayGlobal}}
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            Monday<input type="checkbox">
            Tuesday<input type="checkbox">
            Wednesday<input type="checkbox">
            Thursday<input type="checkbox">
            Friday<input type="checkbox">
            Saturday<input type="checkbox">
            Sunday<input type="checkbox">
        </p>
    </li>
    {{/each}}
</ul>