form.signup,
form.login {
  margin-top: 50px;
}

input#email-input.form-control,
input#password-input.form-control {
  border: solid 3px rgb(66, 223, 66);
  /* border-radius: rgb(66, 223, 66); */
}

button.btn.btn-default,
nav.navbar.navbar-default {
  background-color: rgb(66, 223, 66);
}

nav.navbar.navbar-default {
  text-align: center;
  font-size: 40px;
}
