<h2 class="d-flex justify-content-center">Welcome {{this.User}}</h2>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-md-offset-3">
            <br>
            <br>
            <form class="d-flex justify-content-center">
                <label for="new-habit"></label><input type="text" placeholder="Enter New Habit!" id="new-habit"
                    style="border-color:lawngreen" name="new-habit"><input type="submit" id="submitBtn" value="Submit">
            </form>
            <br>
            <hr>
            {{!-- <ul> --}}
                {{#each Habit}}
                <h3>{{this.id}}.{{this.name}}</h3>
                <p>Display:
                    {{!-- {{this.displayGlobal}} --}}
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </p>
                <div class="grid-container" style="display: inline-flex">
                    <div class="grid-item">Monday
                        <input type="checkbox">
                    </div>
                    <div class="grid-item">Tuesday
                        <input type="checkbox">
                    </div>
                    <div class="grid-item">Wednesday
                        <input type="checkbox">
                    </div>
                    <div class="grid-item">Thursday
                        <input type="checkbox">
                    </div>
                    <div class="grid-item">Friday
                        <input type="checkbox">
                    </div>
                    <div class="grid-item">Saturday
                        <input type="checkbox">
                    </div>
                    <div class="grid-item">Sunday
                        <input type="checkbox">
                    </div>
                </div>
                </p>
                {{/each}}
                {{!--
            </ul> --}}

        </div>
    </div>
</div>


</container>