<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(66, 223, 66)">
  <div class="container-fluid">
    <a class="navbar-brand" href="/Develop/views/partials/global.handlebars">Habit Rabbit</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#" style="color: black">Global</a>
      </div>
    </div>
  </div>
</nav>